li{
    margin:2px;
    
} 
.search-input {
    border-bottom: none; 
  }
  .navbar {
    padding: 0.5rem 1rem;
    border-bottom: none !important; 
    box-shadow: none !important; 
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
    color: white;
    font-family: sans-serif; 
  }
  
  .navbar-logo {
    width: 60px;
    height: 60px;
  }
  
  .nav-link, .dropdown-item, .navbar-brand span {
    color: white !important; 
  }
  
  .nav-link:hover, .dropdown-item:hover {
    color: #ccc !important; 
  }
  
  .dropdown-menu {
    background-color: black;
    border:2px solid white ; 
  }
  
  .dropdown-item {
    color: white; 
  }
  
  .dropdown-item:hover {
    background-color: #333; 
    color: white;
  }
  
  .navbar-toggler-icon {
    filter: invert(1); 
    color:white;
  }
  navbar-toggler{
    background-color: #333;
    color:white;
  }
  
  .nav-link .ant-badge, 
  .nav-link .ant-badge-count {
    color: white !important; 
  }




/* General navbar collapse background color */
.navbar-collapse {
  /* Set background to black when expanded */
  padding: 1rem; /* Add padding */
}

/* Styling for small screens */
@media (max-width: 768px) {
  .navbar-collapse {
    /* Set background to black when expanded */
    padding: 1rem; /* Add padding */
    background-color: #020202;
  }
  .navbar-brand span {
    display: none; /* Hide the span on small screens */
  }

  .navbar-logo {
    width: 50px; /* Optionally reduce logo size on small screens */
    height: auto;
  }
}